configuration {
    modi: "drun,run";
    icon-theme: "Papirus";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    sidebar-mode: false;
}

@import "colors.rasi"

* {
    font: "Iosevka Nerd Font 13";
    background-color: transparent;
    text-color: @foreground;
}

window {
    transparency: "real";
    background-color: @background;
    text-color: @foreground;
    border: 0px;
    border-radius: 12px;
    width: 500px;
    padding: 15px;
}

prompt {
    enabled: false;
}

entry {
    background-color: @surface-container;
    text-color: @foreground;
    placeholder-color: @surface-variant;
    placeholder: "Search...";
    border-radius: 8px;
    padding: 12px;
    margin: 0px;
}

inputbar {
    children: [ entry ];
    background-color: transparent;
    spacing: 0;
    margin: 0px 0px 15px 0px;
}

listview {
    background-color: transparent;
    columns: 1;
    lines: 6;
    spacing: 5px;
    cycle: true;
    dynamic: true;
    layout: vertical;
}

element {
    background-color: transparent;
    text-color: @foreground;
    padding: 10px 15px;
    border-radius: 8px;
}

element selected {
    background-color: @surface-variant;
    text-color: @foreground;
}

element-text {
    background-color: inherit;
    text-color: inherit;
    vertical-align: 0.5;
}

element-icon {
    size: 24px;
    background-color: inherit;
    padding: 0 15px 0 0;
}
